{% load static %}

      <div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Com a Fusion sua empresa<br>poderá ir muito mais longe</h2>
                <p>Pois bem, podemos fazê-lo ver um cenário positivo: a concorrência para lançar sua
                    ideia certamente será menor. Em alguns casos, você será um dos poucos a oferecer
                    o produto ou serviço que se propõe a prestar.</p>
                <div class="header-button">
                  <a href="#" class="btn btn-common">Saiba Mais</i></a>
                  <a href="#" class="btn btn-border video-popup">Entre em contato</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area wrapper End -->